<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"></span>Radio1</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Radio2 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Radio3</a></li>
            <li><a href="#">Radio4</a></li>
            <li><a href="#">Radio5</a></li>
            <li><a href="#">Radio6</a></li>
            <li><a href="#">Radio7</a></li>
            <li><a href="#">Radio8</a></li>
            <li><a href="#">Radio9</a></li>
            <li><a href="#">Radio10</a></li>
            <li class="divider"></li>
            <li><a href="#">Hello1</a></li>
            <li><a href="#">Hello2</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-book"></span>Hello3</a>
      </li>
    </ul>
  </div>
</nav>
